# Windows temp files
~$*.docx

#Visual Studio temp files
*.opendb

# Visual Studio Folder Ignores
Debug/
Release/
.vs/

# Visual Studio SDF database file
*.sdf

# Temp Files we dont care about
~*

# Java workspace folders
*.metadata